@import "tailwindcss";

@layer base {
    button {
        @apply cursor-pointer;
    }

    button:disabled {
        @apply cursor-not-allowed;
    }

    /* 1. On charge le fichier physique de la police */
    @font-face {
        font-family: 'Title'; /* Remplace par le vrai nom de ta police */
        src: url('./assets/fonts/Camar.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    /* 2. On configure Tailwind v4 directement ici ! */
    @theme {
        --font-title: 'Title', sans-serif;
    }

    /* L'animation pour les mots volants (Floating Text) */
    @keyframes fly-up-fade {
        0% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        100% {
            opacity: 0;
            transform: translateY(-80px) scale(1.1); /* Monte de 80px et grossit à peine */
        }
    }

    .animate-fly-up {
        /* Durée de 1 seconde avec un effet de ralentissement à la fin (ease-out) */
        animation: fly-up-fade 1s ease-out forwards;
    }
}